
<app-slider></app-slider>
<div class="container py-5">
<h2 class=" text-center text-decoration-underline  h1 py-4 fs-1 fw-bolder "><i>NEW Movies</i></h2>
    <div class="row  g-3">
        @for (data of Data; track $index) {
        <div class="col-md-4">
            <div class="card  overflow-hidden h-100">
                <img class="  card-img-top " [src]="'https://image.tmdb.org/t/p/original'+ data.backdrop_path"
                    [alt]="data.backdrop_path" />
                <div class="card-body ">
                    <p class="card-title h5 ">{{data.name ?? data.title}}</p>
                    <!-- <p class="item-price"> price: <span
                            class="text-decoration-line-through fw-bold text-danger ms-2  me-5">
                            $400.00</span> <b><span class="text-success">$</span>
                            {{data.}}
                        </b></p> -->

                    <div class="star-rating    ms-2">
                        Reating:
                        <ul class="list-inline  text-warning d-inline-block">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                    <a href="#" class="btn btn-warning">{{data.vote_average}} </a>
                    <!-- <p class="card-text">{{data.description}}</p> -->
                </div>

            </div>
        </div>
        }
    </div>
</div>