<div class="container py-5">
    <div class="row  g-4">
        @for (data of Data; track $index) {
        <div class="col-md-3">
            <div class="card h-100">
                <img class="card-img-top p-2" [src]="data.image" [alt]="data.image" />
                <div class="card-body ">
                    <p class="card-title  ">{{data.title}}</p>
                    <p class="item-price"> price: <span
                            class="text-decoration-line-through fw-bold text-danger ms-2  me-5">
                            $400.00</span> <b><span class="text-success">$</span>
                            {{data.price}}
                        </b></p>

                    <div class="star-rating    ms-2">
                        Reating:
                        <ul class="list-inline  text-warning d-inline-block">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                    <!-- <p class="card-text">{{data.description}}</p> -->
                </div>

            </div>
        </div>
        }
    </div>
</div>