<div class="resposner py-5 d-flex justify-content-center flex-wrap">
    <img src="/images/spamflix.jpeg" alt="spamflix">
    <img src="/images/sunnxt.jpeg" alt="sunnxt">
    <img src="/images/zee5.jpeg" alt="zee5">
    <img src="/images/mlsseasonpass.jpeg" alt="mlsseasonpass">
    <img src="/images/mubi.jpeg" alt="mubi">
    <img src="/images/imdb-logo.png" alt="imdb">
    <img src="/images/flixole.jpeg" alt="flixole">
    <img src="/images/curiositystream.jpeg" alt="curiositystream">
    <img src="/images/amazonprimevideo.jpeg" alt="amazonprimevideo">
    <img src="/images/itunes.jpeg" alt="itunes">
    <img src="/images/iwanttfc.jpeg" alt="iwanttfc">
    <img src="/images/netflix.jpeg" alt="netflix">
</div>