<div class="sliderr container-fluid text-white bg-dark text-center   py-5">
    <app-resposner></app-resposner>
    <h2 class="h1 py-4 fs-1 fw-bolder "><i>NEW Movies</i></h2>
    <div>
        <div id="carouselExampleCaptions" class="carousel slide rounded-5 overflow-hidden">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item ">
                    <img src="/images/mwdw-y-ly (1).jpeg" class=" d-block w-100" alt="mwdw">
                    <div class="carousel-caption d-flex align-items-center justify-content-around">
                        <div class="text-end me-2">
                            <h5>موضوع عائلي</h5>
                            <!-- <p>لاف الناس في صومعة ضخمة تحت الأرض. بعد أن يخرق مأمورهم قانونها الأساسي ويموت المواطنون بطرق</p> -->
                        </div>
                        <img src="/images/mwdw-y-ly.jpeg" class="w-25" alt="mwdw">
                    </div>
                </div>
                <div class="carousel-item active">
                    <img src="/images/silo.jpeg" class=" d-block w-100" alt="mwdw">
                    <div class="carousel-caption d-flex align-items-center justify-content-around">
                        <div class="text-end  me-2">
                            <h5 class="">Silo</h5>
                            <!-- <p>في مستقبل خرب وسامّ، يعيش آلاف الناس في صومعة ضخمة تحت الأرض. بعد أن يخرق مأمورهم قانونها الأساسي
                        ويموت المواطنون بطرق
                        غامضة</p> -->
                        </div>
                        <img src="/images/silo (1).jpeg" class="w-25" alt="mwdw">
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/images/girl-girl-scene (1).jpeg" class="  d-block w-100" alt="mwdw">
                    <div class="carousel-caption d-flex align-items-center justify-content-around">
                        <div class="text-end me-2">
                            <h5> Girl/Girl Scene (2010)</h5>
                            <!-- <p>Lots of gorgeous women make out while competing in physical courage</p> -->
                        </div>
                        <img src="/images/girl-girl-scene.jpeg" class="w-25" alt="mwdw">
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


    </div>

</div>