.sliderr{
    background-image: url(/images/Watch-Free-Hero-2048x1152-3-1440x810.png);
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}