.thebest,
.card {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(../../../public/images/global-home-bg-comp.png);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
